apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifier-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notifier-service
  template:
    metadata:
      labels:
        app: notifier-service
    spec:
      containers:
      - name: notifier-service
        image: gcr.io/YOUR_PROJECT_ID/notifier-service:latest
        ports:
        - containerPort: 5002
---
apiVersion: v1
kind: Service
metadata:
  name: notifier-service
spec:
  type: LoadBalancer
  selector:
    app: notifier-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5002
